<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <!-- The GreetServlet is not essential for the WebSocket functionality,
       but is kept here to avoid breaking other parts of the application
       that might still use GWT RPC. -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>org.socket.server.GreetingServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/test_memo/greet</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Test_memo.html</welcome-file>
  </welcome-file-list>

</web-app>